[SddmGreeterTheme]
Name=Shadows-SDDM
Description=Shadows-SDDM
Author=l4k1
Email=l4k1987@gmail.com
License=GPL-v.3
Type=sddm-theme
Theme-Id=Shadows-SDDM
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-API=2.0
