[Desktop Entry]
Comment=Shadows-Global Look And Feel
Name=Shadows-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Shadows-Global
X-KDE-PluginInfo-Version=8.9
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1717299,kns://colorschemes.knsrc/api.kde-look.org/1717298,kns://plasma-themes.knsrc/api.kde-look.org/1717310,kns://icons.knsrc/api.kde-look.org/1717303,kns://icons.knsrc/api.kde-look.org/1717302,kns://aurorae.knsrc/api.kde-look.org/1717296,kns://aurorae.knsrc/api.kde-look.org/1717294,kns://wallpaper.knsrc/api.kde-look.org//1463678,kns://wallpaper.knsrc/api.kde-look.org/1310406,kns://sddmtheme.knsrc/api.kde-look.org/1717287
